* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  flex-wrap: wrap;
  align-content: center;

  font-family: "Open Sans", sans-serif;
  background: linear-gradient(top, #222, #333);
}

.reset {
  position: relative;
  right: -5%;
  display: block;
  visibility: hidden;
  font-size: 1em;
  font-weight: 100;
  text-align: center;
  vertical-align: center;
  background-color: white; /* Green */
  border: solid 1px black;
  color: black;
  padding: 15px 32px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

.tabela {
  display: flex;
  justify-content: space-between;

  width: 400px;
  height: 400px;
  padding: 5px;
  border: 1px solid #000000;

  .coluna {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .celula {
    display: block;
    width: 125px;
    height: 125px;
    border: 1px solid #000000;
    background-color: white;

    color: #000000;
    font-size: 5em;
    font-weight: 100;
    text-align: center;
    vertical-align: center;
    padding: 0;
  }
}
